@media all and (max-width: 1024px);
@media all and (min-width: 800px) and (max-width: 1024px);
@media all and (min-width: 320px) and (max-width: 780px)

body, ul, li, h1 {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: rgb(39, 28, 82);
    width: 100%;
    overflow: auto;
    padding: 40px;
    position: relative;
    bottom: 30px;
    z-index: 1;
}

nav h1 {
    color: rgb(103, 156, 206);
    font-size: 60px;
    align-content: center;
    margin: 0%;
    position: absolute;
    top: 45%;
}

nav li {
    float: right;
}

nav ul {
    white-space: nowrap;
    margin: 0 50px 50px 0; 
    text-align: center;
    padding: auto;
}

nav li {
    position: relative;
    top: 45px;
    right: 100px;
    width: 15%;
    display: inline-block;
    font-size: 24px;
    left: 20px;
}

.nav-link a {
    text-decoration: none;
    color: white;
    margin: 0;
}

/* Navbar links on mouse-over */
.nav-link a:hover {
    text-decoration: none;
}

.nav-link a.active {
    text-decoration: none;
}

/* will display navbar vertically on screens less than 500px */
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

.banner {
    position: relative;
    margin: auto;
    bottom: 30px;
}

.banner img {
    width: 100%;
    height: 320px;
}

.banner .welcome {
    padding: 30px;
    position: relative;
    right: 0;
    bottom: 30%;
}

.banner h2 {
    color: white;
    font-size: 70px;
    position: absolute;
    right: 30px;
    top: 240px;
}

.banner h2 span {
    font-size: .75em;
    color: lightgoldenrodyellow;
}

main {
    background-color: rgb(137, 216, 168);
    position: relative;
    bottom: 40px;
}

.clearfix {
    overflow: auto;
}

.AllAboutMe {
    padding: 20px;
    display: inline-flex;
    float: left;
}

/* aside for About Me */
.AboutMe {
    font-size: 65px;
    color: rgb(3, 24, 139);
    border-right: 5px solid navy;
    padding-right: 20px;
    display: inline-block;
    width: 25%;
    flex-wrap: wrap;
  }

/* Picture in About Me section */
.AllAboutMe img {
    border: 9px solid rgb(99, 105, 116);
    border-radius: 20px;
    height: 260px;
    float: left;
    margin-left: 20px;
}

/* Paragraph in About Me section */
section p {
   text-decoration: none;
   line-height: 1.25;
   margin-left: 280px;
   margin-top: 10px;
}

.Work {
    padding: 12px;
}

/* Aside for my Work */
.Assignments {
    font-size: 65px;
    color: rgb(3, 24, 139);
    border-right: 5px solid navy;
    padding-right: 47px;
    display: inline-block;
    width: 13.6%;
    flex-wrap: wrap;
}

body {
    width: 100%;
}

.Homework1 .heroimage {
    width: 85.8%;
    border: lightskyblue solid 5px;
    margin-left: 15%;
    bottom: 65px;
    height: 400px;
    padding: 0;
    position: relative;
}

.Homework1 .MainHW {
    background-color: lightblue;
    color: darkgreen;
    padding: 30px 90px;
    position: absolute;
    bottom: 62%;
    left: 250px;
    font-size: 36px;
}
/* added small font to the span */
.Homework1 .MainHW span {
    font-size: 24px;
}

.images {
    width: 100%;    
    border: lightskyblue solid 5px;
    height: 200px;    
    width: 35%;
    margin-left: 15%;
}

.Homework2 .Homework3 {
    flex-grow: 1; 
    display: flex; 
    flex-direction: row; 
}

/* first row of images */
.Homework2 .HW1 {
    /* Defines how to distribute the empty space between child elements */
    justify-content: space-between;
    padding: 60px;
    bottom: 50%;
    margin-top: -40px;
}

/* take out */
/* smaller box 1 - top left */
.Homework2 .HW1 {
    background-color: lightblue;
    color: darkgreen;
    padding: 10px;
    position: absolute;
    margin-right: 70%;
    margin-bottom: 40px;
    bottom: -120px;
    left: 250px;
}

.Homework2 .HW1 {
    background-color: lightblue;
    color: darkgreen;
    padding: 10px 0px;
    position: absolute;
    bottom: 43%;
    left: 250px;
    font-size: 24px;
}
/* added small font to the span */
.Homework2 .HW1 span {
    font-size: 18px;
}

.Homework2 .HW2 {
    background-color: lightblue;
    color: darkgreen;
    padding: 10px 0px;
    position: absolute;
    bottom: 34%;
    left: 250px;
    font-size: 24px;
}
/* added small font to the span */
.Homework2 .HW2 span {
    font-size: 18px;
}

.Homework3 .HW3 {
    background-color: lightblue;
    color: darkgreen;
    padding: 10px 0px;
    position: absolute;
    bottom: 22%;
    left: 250px;
    font-size: 24px;
}
/* added small font to the span */
.Homework3 .HW3 span {
    font-size: 18px;
}

.Homework3 .HW4 {
    background-color: lightblue;
    color: darkgreen;
    padding: 10px 0px;
    position: absolute;
    bottom: 18%;
    left: 250px;
    font-size: 24px;
}
/* added small font to the span */
.Homework3 .HW4 span {
    font-size: 18px;
}


/* Aside for my contacts */
.MyContacts {
    font-size: 55px;
    color: rgb(3, 24, 139);
    border-right: 5px solid navy;
    padding-right: 0px;
    display: inline-block;
    width: 13.8%;
}

.contacts ul {
    white-space: nowrap;
    margin-left: 30%;
    padding: auto;
    width: 20%;
    position: absolute;
    top: 97%;
}

.contacts li {
    display: inline-block;
    font-size: 24px;
}

